---
import viewCommand from "../assets/view-command.png";
import statusFeed from "../assets/status-feed.png";
import explanation from "../assets/explanation.png";
import wavyArrow from "../assets/wavy-arrow.svg";

import Layout from "../layouts/Layout.astro";
import { INVITE_LINK, SUPPORT_LINK } from "../constants";
import Hero from "../components/Hero.astro";
import Highlight from "../components/Highlight.astro";
import Embed from "../components/Embed.astro";
import LinkButton from "../components/LinkButton.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Image from "../components/Image.astro";
import Subheader from "../components/Subheader.astro";
import Logo from "../components/Logo.astro";
---

<Layout
    title="CraftServer Discord Bot"
    description="View live information about your favorite Minecraft: Java Edition servers, directly from Discord.">
    <div class="text-white">
        <Hero background="primary">
            {/* Title and bot tag */}
            <h1 class="flex justify-center items-center gap-2 lg:gap-4">
                <Logo />
                <span class="text-4xl lg:text-5xl font-title">CraftServer</span>
            </h1>
            {/* Embed */}
            <Embed>
                View live information about your favorite
                <Highlight class="bg-green-600 text-white">
                    Minecraft:&nbsp;Java&nbsp;Edition
                </Highlight>
                servers, directly from
                <Highlight class="bg-discord text-white">Discord.</Highlight>
            </Embed>
            {/* Button links */}
            <div class="flex gap-4 self-center">
                <LinkButton href={INVITE_LINK} primary>
                    Add to your server
                </LinkButton>
                <LinkButton href={SUPPORT_LINK}>Get support</LinkButton>
            </div>
        </Hero>
    </div>
    <main class="flex flex-col py-24 bg-secondary" id="content">
        <Header>Know what's going on in your favorite servers</Header>
        <Subheader>
            CraftServer is the Discord bot that's always ready to give you
            accurate, up-to-date information about any public Minecraft server,
            without compromising speed.
        </Subheader>
        <div class="flex gap-4 justify-center flex-wrap text-lg mb-24">
            <Card
                image={viewCommand}
                imageAlt="Illustration of the view command">
                The <strong>/view</strong> command makes it simple to get instant
                information about a server's online status, how many people are playing,
                and more.
            </Card>
            <Card image={statusFeed} imageAlt="Calendar illustration">
                <strong>Status feeds</strong> are the best way to stay up-to-date
                about what's going on in a Minecraft server. They'll frequently update
                with the latest info, and checking them is as simple as opening Discord.
            </Card>
        </div>
        <Header>
            View everything from Minecraft,<br />
            Without leaving Discord.
        </Header>
        <Subheader>
            Spend less time waiting for Minecraft to start just to check on a
            server. Send a CraftServer command to immediately view everything
            accessible from the Minecraft multiplayer screen.
        </Subheader>
        <div
            class="self-center rounded-xl mb-4 shadow-lg overflow-hidden max-w-sm sm:max-w-md md:max-w-full">
            <Image
                src={explanation}
                previewQuality={25}
                alt={[
                    "View info about your server without starting up Minecraft.",
                    "Easily check if your server is online.",
                    "See how many others are playing.",
                    "Let people know what version to play on.",
                ].join(" ")}
            />
        </div>
        <div
            class="flex max-md:flex-col justify-around flex-grow mt-24 mx-20 max-sm:mx-10">
            <Subheader left>
                CraftServer uses Lunar Client's server database to improve your
                status results. When viewing compatible servers, see pretty,
                human readable names instead of addresses made for computers.
            </Subheader>
            <div
                class="flex flex-col text-2xl self-start text-black relative mx-10">
                <div
                    class="font-mono rounded-lg bg-white p-4 border-4 border-primary text-xl mr-5">
                    play.craftserver.net
                </div>
                <Image
                    src={wavyArrow}
                    previewQuality={25}
                    alt="Arrow"
                    absolute
                    class="bottom-2 left-2"
                />
                <div
                    class="font-medium rounded-lg bg-white p-4 border-4 border-primary self-end -translate-y-5">
                    CraftServer SMP
                </div>
            </div>
        </div>
        <Header>
            Connecting Discord to Minecraft:<br />
            It's never been this easy.
        </Header>
        <Subheader>
            CraftServer is designed to work for a variety of uses. See how it
            could improve your Discord server, whether you're building a
            Minecraft-related community or a chat for your friends.
        </Subheader>
        <LinkButton href={INVITE_LINK} primary offsetUp>
            Add to your server
        </LinkButton>
    </main>
</Layout>
