---
import { Image } from "@astrojs/image/components";

export interface Props {
    href: string;
    opts: {
        alt: string;
    } & (
        | {
              fontawesome: string;
          }
        | {
              src: ImageMetadata;
          }
    );
}

const { href, opts } = Astro.props;
---

<a href={href} title={opts.alt} class="group relative pb-0.5 pr-0.5">
    <div
        class="border border-white rounded-full absolute top-0 left-0 right-0.5 bottom-0.5">
    </div>
    <div
        class="flex py-1.5 px-2 border-2 border-neutral-100 rounded-full bg-primary shrink-0 translate-x-0.5 translate-y-0.5 group-hover:transform-none">
        {
            "fontawesome" in opts ? (
                <i
                    class={`${opts.fontawesome} fa-fw px-1 -translate-y-[1px]`}
                    title={opts.alt}
                    aria-hidden={true}
                />
            ) : (
                <Image
                    class="object-scale-down h-[24px] w-[38px]"
                    src={opts.src}
                    alt=""
                    aria-hidden={true}
                />
            )
        }
    </div>
</a>
<style>
    /* primary is #1f2937, generated via https://codepen.io/sosuke/pen/Pjoqqp */
    .group:hover .group-hover\:as-slate-600 {
        filter: brightness(0) saturate(100%) invert(14%) sepia(10%)
            saturate(1760%) hue-rotate(176deg) brightness(96%) contrast(93%);
    }
</style>
