---
import { Image } from "astro:assets";

export interface Props {
    href: string;
    opts: {
        alt: string;
    } & (
        | {
              fontawesome: string;
          }
        | {
              src: ImageMetadata;
          }
    );
}

const { href, opts } = Astro.props;
---

<a
    href={href}
    title={opts.alt}
    class="inline-flex group py-1.5 px-2 border-2 border-neutral-100 rounded-full hover:bg-neutral-100 transition-colors hover:text-primary shrink-0">
    {
        "fontawesome" in opts ? (
            <i
                class={`${opts.fontawesome} fa-fw px-1 -mb-[1px]`}
                title={opts.alt}
                aria-hidden={true}
            />
        ) : (
            <Image
                class="object-scale-down h-[24px] w-[38px] group-hover:as-slate-600"
                src={opts.src}
                alt=""
                aria-hidden={true}
            />
        )
    }
</a>
<style>
    /* primary is #1f2937, generated via https://codepen.io/sosuke/pen/Pjoqqp */
    .group:hover .group-hover\:as-slate-600 {
        filter: brightness(0) saturate(100%) invert(14%) sepia(10%)
            saturate(1760%) hue-rotate(176deg) brightness(96%) contrast(93%);
    }
</style>
