---
import "@fontsource/red-hat-text";
import "@fontsource/nunito";

import dlist from "../assets/dlist.png";
import topgg from "../assets/topgg.svg";

import Navbar from "../components/Navbar.astro";
import { INVITE_LINK, SUPPORT_LINK, VOTE_LINK } from "../constants";
import Footer from "../components/Footer.astro";

export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            async
            defer
            src="https://analytics.umami.is/script.js"
            data-website-id="99cb60f1-57ad-4e6e-9978-3b9afae7b22f"
        ></script>
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="manifest" href="/manifest.webmanifest" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="theme-color" content="#1f2937" />
        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:type" content="website" />
        <meta name="og:url" content={Astro.url.toString()} />
        <meta name="og:image" content="/icon-512.png" />
        <meta name="og:image:type" content="image/png" />
    </head>
    <body class="bg-primary text-white">
        {/* Extra div is to fix the Safari bug with position: sticky */}
        <div>
            <Navbar
                links={{
                    Home: "/",
                    About: "/#content",
                    Support: SUPPORT_LINK,
                    Invite: INVITE_LINK,
                    "Vote on Top.gg": VOTE_LINK,
                }}
            />
            <slot />
            <Footer
                icons={{
                    "https://github.com/craftserverbot": {
                        fontawesome: "fa-brands fa-github",
                        alt: "View our Github repositories",
                    },
                    [SUPPORT_LINK]: {
                        fontawesome: "fa-brands fa-discord",
                        alt: "Join our Discord support server",
                    },
                    "https://discordlist.gg/bot/1044791133416464384": {
                        src: dlist,
                        alt: "View bot on DiscordList",
                    },
                    "https://top.gg/bot/1044791133416464384": {
                        src: topgg,
                        alt: "View bot on Top.gg",
                    },
                }}
            />
        </div>
    </body>
</html>
<style is:global>
    html,
    body {
        height: 100%;
        padding: 0;
        margin: 0;
    }
</style>
<script>
    import "@fortawesome/fontawesome-free/js/brands.js";
    import "@fortawesome/fontawesome-free/js/solid.js";
    import "@fortawesome/fontawesome-free/js/fontawesome.js";
</script>
